.button {
  @include font-size(18px);
  display: block;
  width: 100%;
  margin-bottom: rem(20px);
  padding: rem(20px);
  border: 0;
  border-radius: 2px;
  color: $white;
  &--green {
    background: $green;
  }
  &--blue {
    background: $blue;
  }
}

.private__buttons {
  margin-bottom: rem(50px);
}


