.close-icon {
  $size: rem(22px);
  display: inline-block;
  position: relative;
  left: 14px;
  width: $size;
  height: $size;
  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: rem(4px);
    border-radius: 1px;
    background: $white;
    content: '';
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(135deg);
  }
  &--right {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
  }
  &--gray {
    &:before, &:after {
      background: lighten($black, 30%);
    }
  }
}
