input {
  @include font-size(18px);
  display: block;
  width: 100%;
  margin-bottom: 3vh;
  padding: rem(20px);
  border: 0;
  border-radius: 2px;
  outline: 0;
  color: lighten($black, 30%);
  box-shadow: inset 0 1px 3px 2px rgba($black, 0.2);
}
