.results-header {
  margin-bottom: 20px;
  border-bottom: 1px solid darken($white, 20%);
}

.tiny-question-image {
  width: 60px;
  height: 60px;
  float: right;
  box-shadow: 0 2px 3px 1px rgba($black, 0.4);
}

.game-result-round {
  padding-top: 15px;
  float: left;
}

.player-result-words {
  padding-top: 18px;
  float: left;
}

.player-result-icons {
  float: right;
}

.answer-wrong {
  @extend .close-icon;
  top: 22px;
  left: -18px;
  &:before, &:after {
    background: $red;
  }
}

.answer-correct {
  @extend .close-icon;
  top: 22px;
  left: -18px;
  &:before, &:after {
    background: $green;
  }
  &:before {
    top: 12px;
    left: -3px;
    width: 50%;
    transform: rotate(45deg);
  }
}
