html {
  width: 100%;
  height: 100%;
  font-size: 12px;
  @include min-breakpoint(medium) {
    font-size: 14px;
  }
  @include min-breakpoint(large) {
    font-size: 16px;
  }
}

body {
  width: 100%;
  height: 100%;
  font-family: $base-font-family;
}

.logo {
  margin-bottom: 11vh;
  text-align: center;
  img {
    display: block;
    width: 100%;
  }
  small {
    color: darken($white, 25%);
  }
}

input, textarea, keygen, select, button {
  font-family: inherit;
}

.warning {
  margin-bottom: 1vh;
  color: $red;
}
