.button {
  @include font-size(18px);
  display: block;
  width: 100%;
  margin-bottom: 3vh;
  padding: rem(20px);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  color: $white;
  text-align: center;
  text-decoration: none;
  &--green {
    background: $green;
  }
  &--blue {
    background: $blue;
  }
  &--gray {
    background: darken($white, 40%);
  }
}

.private__buttons {
  margin-bottom: 7vh;
}


